h1 Hey there
    p.
        #{author} just granted you edit access to a note. We just need to make sure you are aware. 
        Please, click the button below to check the note. 
a(href=`https://nuxt-notesapp.herokuapp.com/notes/${id}`) View note!