h1 Hey there
    p.
        #{email} would like to request edit access of your note. We just need to make sure you are aware. 
        Please, click the button below and to grant edit access. 
a(href=`https://nuxt-notesapp.herokuapp.com/notes/${id}`) grant access!